<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.robot.dao.TtsWavHisMapper" >
  <resultMap id="BaseResultMap" type="com.guiji.robot.dao.entity.TtsWavHis" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="tts_key" property="ttsKey" jdbcType="VARCHAR" />
    <result column="tts_param_keys" property="ttsParamKeys" jdbcType="VARCHAR" />
    <result column="tts_param_values" property="ttsParamValues" jdbcType="VARCHAR" />
    <result column="tts_url" property="ttsUrl" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, template_id, tts_key, tts_param_keys, tts_param_values, tts_url, crt_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guiji.robot.dao.entity.TtsWavHisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tts_wav_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tts_wav_his
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tts_wav_his
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.guiji.robot.dao.entity.TtsWavHisExample" >
    delete from tts_wav_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guiji.robot.dao.entity.TtsWavHis" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      SELECT genTabId('tts_wav_his')
    </selectKey>
    insert into tts_wav_his (id, template_id, tts_key, 
      tts_param_keys, tts_param_values, tts_url, 
      crt_time)
    values (#{id,jdbcType=VARCHAR}, #{templateId,jdbcType=VARCHAR}, #{ttsKey,jdbcType=VARCHAR}, 
      #{ttsParamKeys,jdbcType=VARCHAR}, #{ttsParamValues,jdbcType=VARCHAR}, #{ttsUrl,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.guiji.robot.dao.entity.TtsWavHis" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      SELECT genTabId('tts_wav_his')
    </selectKey>
    insert into tts_wav_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="ttsKey != null" >
        tts_key,
      </if>
      <if test="ttsParamKeys != null" >
        tts_param_keys,
      </if>
      <if test="ttsParamValues != null" >
        tts_param_values,
      </if>
      <if test="ttsUrl != null" >
        tts_url,
      </if>
      <if test="crtTime != null" >
        crt_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="templateId != null" >
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="ttsKey != null" >
        #{ttsKey,jdbcType=VARCHAR},
      </if>
      <if test="ttsParamKeys != null" >
        #{ttsParamKeys,jdbcType=VARCHAR},
      </if>
      <if test="ttsParamValues != null" >
        #{ttsParamValues,jdbcType=VARCHAR},
      </if>
      <if test="ttsUrl != null" >
        #{ttsUrl,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guiji.robot.dao.entity.TtsWavHisExample" resultType="java.lang.Integer" >
    select count(*) from tts_wav_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tts_wav_his
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.templateId != null" >
        template_id = #{record.templateId,jdbcType=VARCHAR},
      </if>
      <if test="record.ttsKey != null" >
        tts_key = #{record.ttsKey,jdbcType=VARCHAR},
      </if>
      <if test="record.ttsParamKeys != null" >
        tts_param_keys = #{record.ttsParamKeys,jdbcType=VARCHAR},
      </if>
      <if test="record.ttsParamValues != null" >
        tts_param_values = #{record.ttsParamValues,jdbcType=VARCHAR},
      </if>
      <if test="record.ttsUrl != null" >
        tts_url = #{record.ttsUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTime != null" >
        crt_time = #{record.crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tts_wav_his
    set id = #{record.id,jdbcType=VARCHAR},
      template_id = #{record.templateId,jdbcType=VARCHAR},
      tts_key = #{record.ttsKey,jdbcType=VARCHAR},
      tts_param_keys = #{record.ttsParamKeys,jdbcType=VARCHAR},
      tts_param_values = #{record.ttsParamValues,jdbcType=VARCHAR},
      tts_url = #{record.ttsUrl,jdbcType=VARCHAR},
      crt_time = #{record.crtTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guiji.robot.dao.entity.TtsWavHis" >
    update tts_wav_his
    <set >
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="ttsKey != null" >
        tts_key = #{ttsKey,jdbcType=VARCHAR},
      </if>
      <if test="ttsParamKeys != null" >
        tts_param_keys = #{ttsParamKeys,jdbcType=VARCHAR},
      </if>
      <if test="ttsParamValues != null" >
        tts_param_values = #{ttsParamValues,jdbcType=VARCHAR},
      </if>
      <if test="ttsUrl != null" >
        tts_url = #{ttsUrl,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guiji.robot.dao.entity.TtsWavHis" >
    update tts_wav_his
    set template_id = #{templateId,jdbcType=VARCHAR},
      tts_key = #{ttsKey,jdbcType=VARCHAR},
      tts_param_keys = #{ttsParamKeys,jdbcType=VARCHAR},
      tts_param_values = #{ttsParamValues,jdbcType=VARCHAR},
      tts_url = #{ttsUrl,jdbcType=VARCHAR},
      crt_time = #{crtTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>