<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.callcenter.dao.LineRateMapper" >


  <select id="getLineRate" resultType="com.guiji.ccmanager.entity.LineRateResponse">
    SELECT
    m.line_id as lineId,
    IF(SUM(m.total_num)=0,0,ROUND(SUM(m.answer_num)/SUM(m.total_num),4)) AS rate
    FROM report_line_status m
    WHERE m.create_time >=#{startTime}
    AND m.create_time &lt;=#{endTime}
    AND m.line_id = #{lineId}
  </select>

  <select id="getLineRateAll" resultType="com.guiji.ccmanager.entity.LineRateResponse">
    SELECT
    m.line_id as lineId,
    IF(SUM(m.total_num)=0,0,ROUND(SUM(m.answer_num)/SUM(m.total_num),4)) AS rate
    FROM report_line_status m
    WHERE m.create_time >=#{startTime}
    AND m.create_time &lt;=#{endTime}
    group by m.line_id
  </select>

</mapper>