<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.callcenter.dao.MyCallOutPlanMapper">


    <sql id="Select_Where_SQL">
        <where>
            <if test="startDate != null">
                and create_time > #{startDate}
            </if>
            <if test="endDate != null">
                and create_time &lt; #{endDate}
            </if>
            <if test="phoneNum != null">
                and phone_num like CONCAT('%',#{phoneNum},'%')
            </if>
            <if test="durationMin != null">
                and duration > #{durationMin}
            </if>
            <if test="durationMax != null">
                and duration &lt;= #{durationMax}
            </if>

            <if test="billSecMin != null">
                and bill_sec > #{billSecMin}
            </if>
            <if test="billSecMax != null">
                and bill_sec &lt;= #{billSecMax}
            </if>
            <if test="accurateIntent != null">
                and accurate_intent = #{accurateIntent}
            </if>
            <if test="accurateIntentList != null and accurateIntentList.size()>0">
                and accurate_intent in
                <foreach collection="accurateIntentList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="reason != null">
                and reason = #{reason}
            </if>
            <if test="reasonList != null and reasonList.size()>0">
                and reason in
                <foreach collection="reasonList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="callId != null">
                and call_id = #{callId}
            </if>
            <if test="tempId != null">
                and temp_id = #{tempId}
            </if>
            <if test="isRead != null">
                and isread = #{isRead}
            </if>
            <if test="customerId != null">
                and ( customer_id = #{customerId}
                <if test="agentId != null">
                    or agent_id = #{agentId}
                </if>
                )
            </if>
            <if test="queryUser != null">
                and customer_id = #{queryUser}
            </if>
            <if test="intervened != null">
                and intervened = #{intervened}
            </if>
            <if test="batchId != null">
                and batch_id = #{batchId}
            </if>
            <if test="orgId != null">
                and org_id = #{orgId}
            </if>
            <if test="orgIdList != null and orgIdList.size()>0">
                and org_id in
                <foreach collection="orgIdList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="callIdList != null and callIdList.size()>0">
                and call_id in
                <foreach collection="callIdList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="notInList != null and notInList.size()>0">
                and call_id not in
                <foreach collection="notInList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="isdel != null">
                and isdel = #{isdel}
            </if>
            <if test="callStateMin != null">
                and call_state >= #{callStateMin}
            </if>
            <if test="minCallId != null">
                and call_id > #{minCallId}
            </if>
            <if test="time != null">
                and call_start_time >= DATE_SUB(CURDATE(),INTERVAL #{time} DAY)
            </if>
        </where>
    </sql>

    <select id="selectCallOutPlanList" resultType="com.guiji.callcenter.dao.entity.CallOutPlan">
        select
        call_id as callId,
        <choose>
            <when test="isDesensitization != null">
                IF(1=#{isDesensitization},phone_num,REPLACE(phone_num, SUBSTR(phone_num,4,4), '****')) AS phoneNum ,
            </when>
            <otherwise>
                phone_num as phoneNum,
            </otherwise>
        </choose>
        customer_id as customerId, temp_id as tempId, line_id as lineId,
        call_start_time as callStartTime, hangup_time as hangupTime, answer_time as answerTime, duration,
        bill_sec as billSec, accurate_intent as accurateIntent, reason, hangup_code as hangupCode , remarks,
        freason, talk_num as talkNum, is_cancel as isCancel, is_answer as isAnswer, intervened
        from call_out_plan
        <include refid="Select_Where_SQL" />
        order by create_time desc
        <if test="limitStart != null">
           limit  #{limitStart},#{limitEnd}
        </if>
    </select>

    <select id="countCallOutPlan" resultType="java.lang.Integer">
        select count(*)
        from call_out_plan
        <include refid="Select_Where_SQL" />
    </select>

    <select id="selectCallIdList" resultType="java.math.BigInteger">
        select
        call_id as callId
        from call_out_plan
        <include refid="Select_Where_SQL" />
        order by create_time desc
        <if test="limitStart != null">
            limit  #{limitStart},#{limitEnd}
        </if>
    </select>


    <update id="createCallOutPlan">
        CREATE TABLE call_out_plan_${orgId}
        (
        `call_id` bigint(20) NOT NULL,
        `plan_uuid` varchar(32) DEFAULT NULL,
        `phone_num` varchar(20) DEFAULT NULL,
        `customer_id` int(8) DEFAULT NULL,
        `temp_id` varchar(30) NOT NULL DEFAULT '',
        `line_id` int(11) NOT NULL,
        `serverId` varchar(30) DEFAULT NULL,
        `agent_id` varchar(30) DEFAULT NULL,
        `agent_answer_time` datetime DEFAULT NULL,
        `agent_channel_uuid` varchar(40) DEFAULT NULL,
        `agent_group_id` varchar(30) DEFAULT NULL,
        `agent_start_time` datetime DEFAULT NULL,
        `create_time` datetime DEFAULT NULL,
        `call_start_time` datetime DEFAULT NULL,
        `hangup_time` datetime DEFAULT NULL,
        `answer_time` datetime DEFAULT NULL,
        `duration` int(11) DEFAULT '0',
        `bill_sec` int(11) DEFAULT '0',
        `call_direction` int(2) DEFAULT NULL,
        `call_state` int(2) DEFAULT NULL,
        `hangup_direction` int(2) DEFAULT NULL,
        `accurate_intent` varchar(20) DEFAULT NULL,
        `reason` varchar(600) DEFAULT NULL,
        `hangup_code` varchar(10) DEFAULT NULL,
        `remarks` varchar(255) DEFAULT NULL,
        `has_tts` tinyint(1) DEFAULT NULL,
        `ai_id` varchar(50) DEFAULT NULL,
        `freason` int(2) DEFAULT NULL COMMENT '1:占线，2:无人接听,3:主叫停机,4:被叫停机,5:空号,6:关机,7:呼叫限制,8:用户拒接,9:无效号码,10:拒接',
        `isdel` int(2) NOT NULL DEFAULT '0',
        `isread` int(2) NOT NULL DEFAULT '0',
        `org_code` varchar(30) DEFAULT NULL,
        `org_id` int(11) DEFAULT NULL,
        `batch_id` int(11) DEFAULT NULL,
        `talk_num` int(4) DEFAULT '0' COMMENT '对话轮数',
        `is_cancel` int(1) DEFAULT '0' COMMENT '是否超时',
        `is_answer` int(1) DEFAULT '0' COMMENT '是否接听',
        `intervened` tinyint(1) DEFAULT '0' COMMENT '是否已介入',
        `params` varchar(32) DEFAULT NULL COMMENT '变量参数',
        PRIMARY KEY (`call_id`),
        UNIQUE KEY `uk_call_out_plan_plan_uuid` (`plan_uuid`),
        KEY `idx_call_out_plan_phone_num` (`phone_num`),
        KEY `idx_call_out_plan_customer_id` (`customer_id`),
        KEY `idx_call_out_plan_agent_id` (`agent_id`),
        KEY `idx_call_out_plan_agent_answer_time` (`agent_answer_time`),
        KEY `idx_call_out_plan_create_time` (`create_time`),
        KEY `idx_call_out_plan_call_start_time` (`call_start_time`),
        KEY `idx_call_out_plan_call_state` (`call_state`),
        KEY `idx_call_out_plan_accurate_intent` (`accurate_intent`),
        KEY `idx_call_out_plan_org_id` (`org_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

    <update id="createCallOutDetail">
        CREATE TABLE call_out_detail_${orgId}
        (
        `call_detail_id` bigint(20) NOT NULL,
        `call_id` bigint(20) DEFAULT NULL,
        `accurate_intent` varchar(10) DEFAULT NULL,
        `agent_answer_text` varchar(255) DEFAULT NULL,
        `agent_answer_time` datetime DEFAULT NULL,
        `ai_duration` int(11) DEFAULT NULL,
        `asr_duration` int(11) DEFAULT NULL,
        `bot_answer_text` varchar(255) DEFAULT NULL,
        `bot_answer_time` datetime DEFAULT NULL,
        `call_detail_type` int(2) NOT NULL,
        `customer_say_text` varchar(255) DEFAULT NULL,
        `customer_say_time` datetime DEFAULT NULL,
        `reason` varchar(600) DEFAULT NULL,
        `total_duration` int(11) DEFAULT NULL,
        `isupdate` int(1) DEFAULT '0' COMMENT '是否修改过',
        `word_segment_result` varchar(255) DEFAULT NULL,
        `keywords` varchar(255) DEFAULT NULL,
        `org_id` int(11) DEFAULT NULL,
        PRIMARY KEY (`call_detail_id`),
        KEY `idx_call_out_detail_call_id` (`call_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

</mapper>