<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.guiji.botsentence.dao.IntentionEffectMapper" >
  <resultMap id="BaseResultMap" type="ai.guiji.botsentence.dao.entity.IntentionEffect" >
    <id column="intention_id" property="intentionId" jdbcType="VARCHAR" />
    <result column="process_id" property="processId" jdbcType="VARCHAR" />
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="template_name" property="templateName" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="intention_type" property="intentionType" jdbcType="VARCHAR" />
    <result column="dialogue_times" property="dialogueTimes" jdbcType="INTEGER" />
    <result column="key_words" property="keyWords" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_user" property="crtUser" jdbcType="VARCHAR" />
    <result column="lst_update_time" property="lstUpdateTime" jdbcType="TIMESTAMP" />
    <result column="lst_update_user" property="lstUpdateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    intention_id, process_id, template_id, template_name, version, intention_type, dialogue_times, 
    key_words, crt_time, crt_user, lst_update_time, lst_update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ai.guiji.botsentence.dao.entity.IntentionEffectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from intention_effect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from intention_effect
    where intention_id = #{intentionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from intention_effect
    where intention_id = #{intentionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="ai.guiji.botsentence.dao.entity.IntentionEffectExample" >
    delete from intention_effect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ai.guiji.botsentence.dao.entity.IntentionEffect" >
    insert into intention_effect (intention_id, process_id, template_id, 
      template_name, version, intention_type, 
      dialogue_times, key_words, crt_time, 
      crt_user, lst_update_time, lst_update_user
      )
    values (#{intentionId,jdbcType=VARCHAR}, #{processId,jdbcType=VARCHAR}, #{templateId,jdbcType=VARCHAR}, 
      #{templateName,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{intentionType,jdbcType=VARCHAR}, 
      #{dialogueTimes,jdbcType=INTEGER}, #{keyWords,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}, 
      #{crtUser,jdbcType=VARCHAR}, #{lstUpdateTime,jdbcType=TIMESTAMP}, #{lstUpdateUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ai.guiji.botsentence.dao.entity.IntentionEffect" >
    insert into intention_effect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intentionId != null" >
        intention_id,
      </if>
      <if test="processId != null" >
        process_id,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="templateName != null" >
        template_name,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="intentionType != null" >
        intention_type,
      </if>
      <if test="dialogueTimes != null" >
        dialogue_times,
      </if>
      <if test="keyWords != null" >
        key_words,
      </if>
      <if test="crtTime != null" >
        crt_time,
      </if>
      <if test="crtUser != null" >
        crt_user,
      </if>
      <if test="lstUpdateTime != null" >
        lst_update_time,
      </if>
      <if test="lstUpdateUser != null" >
        lst_update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intentionId != null" >
        #{intentionId,jdbcType=VARCHAR},
      </if>
      <if test="processId != null" >
        #{processId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null" >
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="intentionType != null" >
        #{intentionType,jdbcType=VARCHAR},
      </if>
      <if test="dialogueTimes != null" >
        #{dialogueTimes,jdbcType=INTEGER},
      </if>
      <if test="keyWords != null" >
        #{keyWords,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null" >
        #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="lstUpdateTime != null" >
        #{lstUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstUpdateUser != null" >
        #{lstUpdateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ai.guiji.botsentence.dao.entity.IntentionEffectExample" resultType="java.lang.Integer" >
    select count(*) from intention_effect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update intention_effect
    <set >
      <if test="record.intentionId != null" >
        intention_id = #{record.intentionId,jdbcType=VARCHAR},
      </if>
      <if test="record.processId != null" >
        process_id = #{record.processId,jdbcType=VARCHAR},
      </if>
      <if test="record.templateId != null" >
        template_id = #{record.templateId,jdbcType=VARCHAR},
      </if>
      <if test="record.templateName != null" >
        template_name = #{record.templateName,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.intentionType != null" >
        intention_type = #{record.intentionType,jdbcType=VARCHAR},
      </if>
      <if test="record.dialogueTimes != null" >
        dialogue_times = #{record.dialogueTimes,jdbcType=INTEGER},
      </if>
      <if test="record.keyWords != null" >
        key_words = #{record.keyWords,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTime != null" >
        crt_time = #{record.crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtUser != null" >
        crt_user = #{record.crtUser,jdbcType=VARCHAR},
      </if>
      <if test="record.lstUpdateTime != null" >
        lst_update_time = #{record.lstUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lstUpdateUser != null" >
        lst_update_user = #{record.lstUpdateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update intention_effect
    set intention_id = #{record.intentionId,jdbcType=VARCHAR},
      process_id = #{record.processId,jdbcType=VARCHAR},
      template_id = #{record.templateId,jdbcType=VARCHAR},
      template_name = #{record.templateName,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      intention_type = #{record.intentionType,jdbcType=VARCHAR},
      dialogue_times = #{record.dialogueTimes,jdbcType=INTEGER},
      key_words = #{record.keyWords,jdbcType=VARCHAR},
      crt_time = #{record.crtTime,jdbcType=TIMESTAMP},
      crt_user = #{record.crtUser,jdbcType=VARCHAR},
      lst_update_time = #{record.lstUpdateTime,jdbcType=TIMESTAMP},
      lst_update_user = #{record.lstUpdateUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ai.guiji.botsentence.dao.entity.IntentionEffect" >
    update intention_effect
    <set >
      <if test="processId != null" >
        process_id = #{processId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null" >
        template_name = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="intentionType != null" >
        intention_type = #{intentionType,jdbcType=VARCHAR},
      </if>
      <if test="dialogueTimes != null" >
        dialogue_times = #{dialogueTimes,jdbcType=INTEGER},
      </if>
      <if test="keyWords != null" >
        key_words = #{keyWords,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null" >
        crt_user = #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="lstUpdateTime != null" >
        lst_update_time = #{lstUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstUpdateUser != null" >
        lst_update_user = #{lstUpdateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where intention_id = #{intentionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ai.guiji.botsentence.dao.entity.IntentionEffect" >
    update intention_effect
    set process_id = #{processId,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=VARCHAR},
      template_name = #{templateName,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      intention_type = #{intentionType,jdbcType=VARCHAR},
      dialogue_times = #{dialogueTimes,jdbcType=INTEGER},
      key_words = #{keyWords,jdbcType=VARCHAR},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      crt_user = #{crtUser,jdbcType=VARCHAR},
      lst_update_time = #{lstUpdateTime,jdbcType=TIMESTAMP},
      lst_update_user = #{lstUpdateUser,jdbcType=VARCHAR}
    where intention_id = #{intentionId,jdbcType=VARCHAR}
  </update>
</mapper>