<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.guiji.botsentence.dao.MyLabelMapper" >
  <resultMap id="BaseResultMap" type="ai.guiji.botsentence.dao.entity.MyBotLabel" >
    <id column="label_id" property="labelId" jdbcType="VARCHAR" />
    <result column="process_id" property="processId" jdbcType="VARCHAR" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
    <result column="display_keywords" property="displayKeywords" jdbcType="VARCHAR" />
    <result column="score_up" property="scoreUp" jdbcType="DOUBLE" />
    <result column="score_low" property="scoreLow" jdbcType="DOUBLE" />
  </resultMap> 
  
  
  <select id="getKeysList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
   label_id, process_id,label_name,keywords,display_keywords,score_up,score_low
    from bot_sentence_label
    where process_id = #{processId,jdbcType=VARCHAR}
    order by label_name
  </select>

 <update id="updateByPrimaryKeySelective" parameterType="ai.guiji.botsentence.dao.entity.BotSentenceLabel" >
    update bot_sentence_label
    <set >
      <if test="conversationCount != null" >
        conversation_count = #{conversationCount,jdbcType=INTEGER},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="displayKeywords != null" >
        display_keywords = #{displayKeywords,jdbcType=VARCHAR},
      </if>
      <if test="displayKeywordsBefore != null" >
        display_keywords_before = #{displayKeywordsBefore,jdbcType=VARCHAR},
      </if>
      <if test="specialCount != null" >
        special_count = #{specialCount,jdbcType=INTEGER},
      </if>
      <if test="usedTimeS != null" >
        used_time_s = #{usedTimeS,jdbcType=INTEGER},
      </if>
      <if test="denyCount != null" >
        deny_count = #{denyCount,jdbcType=INTEGER},
      </if>
      <if test="busyCount != null" >
        busy_count = #{busyCount,jdbcType=INTEGER},
      </if>
      <if test="scoreUp != null" >
        score_up = #{scoreUp,jdbcType=DOUBLE},
      </if>
      <if test="scoreLow != null" >
        score_low = #{scoreLow,jdbcType=DOUBLE},
      </if>
      <if test="crtTime != null" >
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null" >
        crt_user = #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="lstUpdateTime != null" >
        lst_update_time = #{lstUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstUpdateUser != null" >
        lst_update_user = #{lstUpdateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>

</mapper>