<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.guiji.botsentence.crm.dao.TabAdministratorMapper" >
  <resultMap id="BaseResultMap" type="ai.guiji.botsentence.crm.dao.entity.TabAdministrator" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="userpwd" property="userpwd" jdbcType="VARCHAR" />
    <result column="tip" property="tip" jdbcType="VARCHAR" />
    <result column="loginline" property="loginline" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="SMALLINT" />
    <result column="valid_flag" property="validFlag" jdbcType="CHAR" />
    <result column="termdate" property="termdate" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="db" property="db" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="surplus" property="surplus" jdbcType="DOUBLE" />
    <result column="role" property="role" jdbcType="TINYINT" />
    <result column="balance" property="balance" jdbcType="INTEGER" />
    <result column="industrytemp" property="industrytemp" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="ai.guiji.botsentence.crm.dao.entity.TabAdministrator" extends="BaseResultMap" >
    <result column="manage_customers" property="manageCustomers" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, username, userpwd, tip, loginline, add_time, groupid, valid_flag, termdate, customer_id, 
    db, phone, email, surplus, `role`, balance, industrytemp
  </sql>
  <sql id="Blob_Column_List" >
    manage_customers
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="ai.guiji.botsentence.crm.dao.entity.TabAdministratorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tab_administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ai.guiji.botsentence.crm.dao.entity.TabAdministratorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tab_administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tab_administrator
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_administrator
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ai.guiji.botsentence.crm.dao.entity.TabAdministratorExample" >
    delete from tab_administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ai.guiji.botsentence.crm.dao.entity.TabAdministrator" >
    insert into tab_administrator (id, username, userpwd, 
      tip, loginline, add_time, 
      groupid, valid_flag, termdate, 
      customer_id, db, phone, 
      email, surplus, `role`, 
      balance, industrytemp, manage_customers
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, 
      #{tip,jdbcType=VARCHAR}, #{loginline,jdbcType=VARCHAR}, #{addTime,jdbcType=INTEGER}, 
      #{groupid,jdbcType=SMALLINT}, #{validFlag,jdbcType=CHAR}, #{termdate,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=INTEGER}, #{db,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{surplus,jdbcType=DOUBLE}, #{role,jdbcType=TINYINT}, 
      #{balance,jdbcType=INTEGER}, #{industrytemp,jdbcType=VARCHAR}, #{manageCustomers,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ai.guiji.botsentence.crm.dao.entity.TabAdministrator" >
    insert into tab_administrator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="userpwd != null" >
        userpwd,
      </if>
      <if test="tip != null" >
        tip,
      </if>
      <if test="loginline != null" >
        loginline,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="validFlag != null" >
        valid_flag,
      </if>
      <if test="termdate != null" >
        termdate,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="db != null" >
        db,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="surplus != null" >
        surplus,
      </if>
      <if test="role != null" >
        `role`,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="industrytemp != null" >
        industrytemp,
      </if>
      <if test="manageCustomers != null" >
        manage_customers,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="tip != null" >
        #{tip,jdbcType=VARCHAR},
      </if>
      <if test="loginline != null" >
        #{loginline,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=SMALLINT},
      </if>
      <if test="validFlag != null" >
        #{validFlag,jdbcType=CHAR},
      </if>
      <if test="termdate != null" >
        #{termdate,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="db != null" >
        #{db,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="surplus != null" >
        #{surplus,jdbcType=DOUBLE},
      </if>
      <if test="role != null" >
        #{role,jdbcType=TINYINT},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="industrytemp != null" >
        #{industrytemp,jdbcType=VARCHAR},
      </if>
      <if test="manageCustomers != null" >
        #{manageCustomers,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ai.guiji.botsentence.crm.dao.entity.TabAdministratorExample" resultType="java.lang.Integer" >
    select count(*) from tab_administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tab_administrator
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userpwd != null" >
        userpwd = #{record.userpwd,jdbcType=VARCHAR},
      </if>
      <if test="record.tip != null" >
        tip = #{record.tip,jdbcType=VARCHAR},
      </if>
      <if test="record.loginline != null" >
        loginline = #{record.loginline,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=INTEGER},
      </if>
      <if test="record.groupid != null" >
        groupid = #{record.groupid,jdbcType=SMALLINT},
      </if>
      <if test="record.validFlag != null" >
        valid_flag = #{record.validFlag,jdbcType=CHAR},
      </if>
      <if test="record.termdate != null" >
        termdate = #{record.termdate,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.db != null" >
        db = #{record.db,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.surplus != null" >
        surplus = #{record.surplus,jdbcType=DOUBLE},
      </if>
      <if test="record.role != null" >
        `role` = #{record.role,jdbcType=TINYINT},
      </if>
      <if test="record.balance != null" >
        balance = #{record.balance,jdbcType=INTEGER},
      </if>
      <if test="record.industrytemp != null" >
        industrytemp = #{record.industrytemp,jdbcType=VARCHAR},
      </if>
      <if test="record.manageCustomers != null" >
        manage_customers = #{record.manageCustomers,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tab_administrator
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      userpwd = #{record.userpwd,jdbcType=VARCHAR},
      tip = #{record.tip,jdbcType=VARCHAR},
      loginline = #{record.loginline,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=INTEGER},
      groupid = #{record.groupid,jdbcType=SMALLINT},
      valid_flag = #{record.validFlag,jdbcType=CHAR},
      termdate = #{record.termdate,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      db = #{record.db,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      surplus = #{record.surplus,jdbcType=DOUBLE},
      `role` = #{record.role,jdbcType=TINYINT},
      balance = #{record.balance,jdbcType=INTEGER},
      industrytemp = #{record.industrytemp,jdbcType=VARCHAR},
      manage_customers = #{record.manageCustomers,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tab_administrator
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      userpwd = #{record.userpwd,jdbcType=VARCHAR},
      tip = #{record.tip,jdbcType=VARCHAR},
      loginline = #{record.loginline,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=INTEGER},
      groupid = #{record.groupid,jdbcType=SMALLINT},
      valid_flag = #{record.validFlag,jdbcType=CHAR},
      termdate = #{record.termdate,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      db = #{record.db,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      surplus = #{record.surplus,jdbcType=DOUBLE},
      `role` = #{record.role,jdbcType=TINYINT},
      balance = #{record.balance,jdbcType=INTEGER},
      industrytemp = #{record.industrytemp,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ai.guiji.botsentence.crm.dao.entity.TabAdministrator" >
    update tab_administrator
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        userpwd = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="tip != null" >
        tip = #{tip,jdbcType=VARCHAR},
      </if>
      <if test="loginline != null" >
        loginline = #{loginline,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=SMALLINT},
      </if>
      <if test="validFlag != null" >
        valid_flag = #{validFlag,jdbcType=CHAR},
      </if>
      <if test="termdate != null" >
        termdate = #{termdate,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="db != null" >
        db = #{db,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="surplus != null" >
        surplus = #{surplus,jdbcType=DOUBLE},
      </if>
      <if test="role != null" >
        `role` = #{role,jdbcType=TINYINT},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="industrytemp != null" >
        industrytemp = #{industrytemp,jdbcType=VARCHAR},
      </if>
      <if test="manageCustomers != null" >
        manage_customers = #{manageCustomers,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ai.guiji.botsentence.crm.dao.entity.TabAdministrator" >
    update tab_administrator
    set username = #{username,jdbcType=VARCHAR},
      userpwd = #{userpwd,jdbcType=VARCHAR},
      tip = #{tip,jdbcType=VARCHAR},
      loginline = #{loginline,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=SMALLINT},
      valid_flag = #{validFlag,jdbcType=CHAR},
      termdate = #{termdate,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      db = #{db,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      surplus = #{surplus,jdbcType=DOUBLE},
      `role` = #{role,jdbcType=TINYINT},
      balance = #{balance,jdbcType=INTEGER},
      industrytemp = #{industrytemp,jdbcType=VARCHAR},
      manage_customers = #{manageCustomers,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ai.guiji.botsentence.crm.dao.entity.TabAdministrator" >
    update tab_administrator
    set username = #{username,jdbcType=VARCHAR},
      userpwd = #{userpwd,jdbcType=VARCHAR},
      tip = #{tip,jdbcType=VARCHAR},
      loginline = #{loginline,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=SMALLINT},
      valid_flag = #{validFlag,jdbcType=CHAR},
      termdate = #{termdate,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      db = #{db,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      surplus = #{surplus,jdbcType=DOUBLE},
      `role` = #{role,jdbcType=TINYINT},
      balance = #{balance,jdbcType=INTEGER},
      industrytemp = #{industrytemp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>