<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ai.guiji.user.dao.UserMenuMapper" >
  
  <select id="selectByUserId" resultType="java.lang.String" parameterType="java.lang.String" >
    select c.name
    from sys_user_role a,sys_privilege b,sys_menu c
    where a.user_id = #{id,jdbcType=VARCHAR}
    and a.role_id = b.role_id
    and b.menu_id = c.id
  </select>
  
  <select id="selectMenusByUser" resultType="ai.guiji.user.dao.entity.SysMenu" parameterType="java.lang.String" >
    select
    c.id as id,
    c.code as code,
    c.p_code as pCode,
    c.p_id as pId,
    c.name as name,
    c.url as url,
    c.is_menu as isMenu,
    c.level as level,
    c.sort as sort,
    c.status as status,
    c.icon as icon
    from sys_user_role a,sys_privilege b,sys_menu c,sys_user d
    where d.userid= #{userId,jdbcType=VARCHAR}
    and a.user_id = d.userid
    and a.role_id = b.role_id
    and b.menu_id = c.id
    order by sort
  </select>
   
</mapper>