<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guiji.dispatch.dao.PlanMapper">
  <resultMap id="BaseResultMap" type="com.guiji.dispatch.entity.Plan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plan_uuid" jdbcType="CHAR" property="planUuid" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="attach" jdbcType="VARCHAR" property="attach" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="status_plan" jdbcType="TINYINT" property="statusPlan" />
    <result column="status_sync" jdbcType="TINYINT" property="statusSync" />
    <result column="recall" jdbcType="TINYINT" property="recall" />
    <result column="recall_params" jdbcType="VARCHAR" property="recallParams" />
    <result column="robot" jdbcType="VARCHAR" property="robot" />
    <result column="call_agent" jdbcType="VARCHAR" property="callAgent" />
    <result column="clean" jdbcType="TINYINT" property="clean" />
    <result column="call_data" jdbcType="INTEGER" property="callData" />
    <result column="call_hour" jdbcType="VARCHAR" property="callHour" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_uuid, user_id, batch_id, phone, attach, params, status_plan, status_sync, 
    recall, recall_params, robot, call_agent, clean, call_data, call_hour, gmt_create, 
    gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jss_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jss_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guiji.dispatch.entity.Plan">
    insert into jss_plan (id, plan_uuid, user_id, 
      batch_id, phone, attach, 
      params, status_plan, status_sync, 
      recall, recall_params, robot, 
      call_agent, clean, call_data, 
      call_hour, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=INTEGER}, #{planUuid,jdbcType=CHAR}, #{userId,jdbcType=INTEGER}, 
      #{batchId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, 
      #{params,jdbcType=VARCHAR}, #{statusPlan,jdbcType=TINYINT}, #{statusSync,jdbcType=TINYINT}, 
      #{recall,jdbcType=TINYINT}, #{recallParams,jdbcType=VARCHAR}, #{robot,jdbcType=VARCHAR}, 
      #{callAgent,jdbcType=VARCHAR}, #{clean,jdbcType=TINYINT}, #{callData,jdbcType=INTEGER}, 
      #{callHour,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guiji.dispatch.entity.Plan">
    insert into jss_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planUuid != null">
        plan_uuid,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="attach != null">
        attach,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="statusPlan != null">
        status_plan,
      </if>
      <if test="statusSync != null">
        status_sync,
      </if>
      <if test="recall != null">
        recall,
      </if>
      <if test="recallParams != null">
        recall_params,
      </if>
      <if test="robot != null">
        robot,
      </if>
      <if test="callAgent != null">
        call_agent,
      </if>
      <if test="clean != null">
        clean,
      </if>
      <if test="callData != null">
        call_data,
      </if>
      <if test="callHour != null">
        call_hour,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planUuid != null">
        #{planUuid,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="statusPlan != null">
        #{statusPlan,jdbcType=TINYINT},
      </if>
      <if test="statusSync != null">
        #{statusSync,jdbcType=TINYINT},
      </if>
      <if test="recall != null">
        #{recall,jdbcType=TINYINT},
      </if>
      <if test="recallParams != null">
        #{recallParams,jdbcType=VARCHAR},
      </if>
      <if test="robot != null">
        #{robot,jdbcType=VARCHAR},
      </if>
      <if test="callAgent != null">
        #{callAgent,jdbcType=VARCHAR},
      </if>
      <if test="clean != null">
        #{clean,jdbcType=TINYINT},
      </if>
      <if test="callData != null">
        #{callData,jdbcType=INTEGER},
      </if>
      <if test="callHour != null">
        #{callHour,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guiji.dispatch.entity.Plan">
    update jss_plan
    <set>
      <if test="planUuid != null">
        plan_uuid = #{planUuid,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        attach = #{attach,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="statusPlan != null">
        status_plan = #{statusPlan,jdbcType=TINYINT},
      </if>
      <if test="statusSync != null">
        status_sync = #{statusSync,jdbcType=TINYINT},
      </if>
      <if test="recall != null">
        recall = #{recall,jdbcType=TINYINT},
      </if>
      <if test="recallParams != null">
        recall_params = #{recallParams,jdbcType=VARCHAR},
      </if>
      <if test="robot != null">
        robot = #{robot,jdbcType=VARCHAR},
      </if>
      <if test="callAgent != null">
        call_agent = #{callAgent,jdbcType=VARCHAR},
      </if>
      <if test="clean != null">
        clean = #{clean,jdbcType=TINYINT},
      </if>
      <if test="callData != null">
        call_data = #{callData,jdbcType=INTEGER},
      </if>
      <if test="callHour != null">
        call_hour = #{callHour,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guiji.dispatch.entity.Plan">
    update jss_plan
    set plan_uuid = #{planUuid,jdbcType=CHAR},
      user_id = #{userId,jdbcType=INTEGER},
      batch_id = #{batchId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      attach = #{attach,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      status_plan = #{statusPlan,jdbcType=TINYINT},
      status_sync = #{statusSync,jdbcType=TINYINT},
      recall = #{recall,jdbcType=TINYINT},
      recall_params = #{recallParams,jdbcType=VARCHAR},
      robot = #{robot,jdbcType=VARCHAR},
      call_agent = #{callAgent,jdbcType=VARCHAR},
      clean = #{clean,jdbcType=TINYINT},
      call_data = #{callData,jdbcType=INTEGER},
      call_hour = #{callHour,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.guiji.dispatch.entity.Plan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plan_uuid" jdbcType="CHAR" property="planUuid" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="attach" jdbcType="VARCHAR" property="attach" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="status_plan" jdbcType="TINYINT" property="statusPlan" />
    <result column="status_sync" jdbcType="TINYINT" property="statusSync" />
    <result column="recall" jdbcType="TINYINT" property="recall" />
    <result column="recall_params" jdbcType="VARCHAR" property="recallParams" />
    <result column="robot" jdbcType="VARCHAR" property="robot" />
    <result column="call_agent" jdbcType="VARCHAR" property="callAgent" />
    <result column="clean" jdbcType="TINYINT" property="clean" />
    <result column="call_data" jdbcType="INTEGER" property="callData" />
    <result column="call_hour" jdbcType="VARCHAR" property="callHour" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_uuid, user_id, batch_id, phone, attach, params, status_plan, status_sync, 
    recall, recall_params, robot, call_agent, clean, call_data, call_hour, gmt_create, 
    gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jss_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jss_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guiji.dispatch.entity.Plan">
    insert into jss_plan (id, plan_uuid, user_id, 
      batch_id, phone, attach, 
      params, status_plan, status_sync, 
      recall, recall_params, robot, 
      call_agent, clean, call_data, 
      call_hour, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=INTEGER}, #{planUuid,jdbcType=CHAR}, #{userId,jdbcType=INTEGER}, 
      #{batchId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, 
      #{params,jdbcType=VARCHAR}, #{statusPlan,jdbcType=TINYINT}, #{statusSync,jdbcType=TINYINT}, 
      #{recall,jdbcType=TINYINT}, #{recallParams,jdbcType=VARCHAR}, #{robot,jdbcType=VARCHAR}, 
      #{callAgent,jdbcType=VARCHAR}, #{clean,jdbcType=TINYINT}, #{callData,jdbcType=INTEGER}, 
      #{callHour,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guiji.dispatch.entity.Plan">
    insert into jss_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planUuid != null">
        plan_uuid,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="attach != null">
        attach,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="statusPlan != null">
        status_plan,
      </if>
      <if test="statusSync != null">
        status_sync,
      </if>
      <if test="recall != null">
        recall,
      </if>
      <if test="recallParams != null">
        recall_params,
      </if>
      <if test="robot != null">
        robot,
      </if>
      <if test="callAgent != null">
        call_agent,
      </if>
      <if test="clean != null">
        clean,
      </if>
      <if test="callData != null">
        call_data,
      </if>
      <if test="callHour != null">
        call_hour,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planUuid != null">
        #{planUuid,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="statusPlan != null">
        #{statusPlan,jdbcType=TINYINT},
      </if>
      <if test="statusSync != null">
        #{statusSync,jdbcType=TINYINT},
      </if>
      <if test="recall != null">
        #{recall,jdbcType=TINYINT},
      </if>
      <if test="recallParams != null">
        #{recallParams,jdbcType=VARCHAR},
      </if>
      <if test="robot != null">
        #{robot,jdbcType=VARCHAR},
      </if>
      <if test="callAgent != null">
        #{callAgent,jdbcType=VARCHAR},
      </if>
      <if test="clean != null">
        #{clean,jdbcType=TINYINT},
      </if>
      <if test="callData != null">
        #{callData,jdbcType=INTEGER},
      </if>
      <if test="callHour != null">
        #{callHour,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guiji.dispatch.entity.Plan">
    update jss_plan
    <set>
      <if test="planUuid != null">
        plan_uuid = #{planUuid,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        attach = #{attach,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="statusPlan != null">
        status_plan = #{statusPlan,jdbcType=TINYINT},
      </if>
      <if test="statusSync != null">
        status_sync = #{statusSync,jdbcType=TINYINT},
      </if>
      <if test="recall != null">
        recall = #{recall,jdbcType=TINYINT},
      </if>
      <if test="recallParams != null">
        recall_params = #{recallParams,jdbcType=VARCHAR},
      </if>
      <if test="robot != null">
        robot = #{robot,jdbcType=VARCHAR},
      </if>
      <if test="callAgent != null">
        call_agent = #{callAgent,jdbcType=VARCHAR},
      </if>
      <if test="clean != null">
        clean = #{clean,jdbcType=TINYINT},
      </if>
      <if test="callData != null">
        call_data = #{callData,jdbcType=INTEGER},
      </if>
      <if test="callHour != null">
        call_hour = #{callHour,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guiji.dispatch.entity.Plan">
    update jss_plan
    set plan_uuid = #{planUuid,jdbcType=CHAR},
      user_id = #{userId,jdbcType=INTEGER},
      batch_id = #{batchId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      attach = #{attach,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      status_plan = #{statusPlan,jdbcType=TINYINT},
      status_sync = #{statusSync,jdbcType=TINYINT},
      recall = #{recall,jdbcType=TINYINT},
      recall_params = #{recallParams,jdbcType=VARCHAR},
      robot = #{robot,jdbcType=VARCHAR},
      call_agent = #{callAgent,jdbcType=VARCHAR},
      clean = #{clean,jdbcType=TINYINT},
      call_data = #{callData,jdbcType=INTEGER},
      call_hour = #{callHour,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.guiji.dispatch.entity.Plan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plan_uuid" jdbcType="CHAR" property="planUuid" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="attach" jdbcType="VARCHAR" property="attach" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="status_plan" jdbcType="BIT" property="statusPlan" />
    <result column="status_sync" jdbcType="BIT" property="statusSync" />
    <result column="recall" jdbcType="BIT" property="recall" />
    <result column="recall_params" jdbcType="VARCHAR" property="recallParams" />
    <result column="robot" jdbcType="VARCHAR" property="robot" />
    <result column="call_agent" jdbcType="VARCHAR" property="callAgent" />
    <result column="clean" jdbcType="BIT" property="clean" />
    <result column="call_data" jdbcType="INTEGER" property="callData" />
    <result column="call_hour" jdbcType="VARCHAR" property="callHour" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_uuid, user_id, batch_id, phone, attach, params, status_plan, status_sync, 
    recall, recall_params, robot, call_agent, clean, call_data, call_hour, gmt_create, 
    gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jss_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jss_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guiji.dispatch.entity.Plan">
    insert into jss_plan (id, plan_uuid, user_id, 
      batch_id, phone, attach, 
      params, status_plan, status_sync, 
      recall, recall_params, robot, 
      call_agent, clean, call_data, 
      call_hour, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=INTEGER}, #{planUuid,jdbcType=CHAR}, #{userId,jdbcType=INTEGER}, 
      #{batchId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, 
      #{params,jdbcType=VARCHAR}, #{statusPlan,jdbcType=BIT}, #{statusSync,jdbcType=BIT}, 
      #{recall,jdbcType=BIT}, #{recallParams,jdbcType=VARCHAR}, #{robot,jdbcType=VARCHAR}, 
      #{callAgent,jdbcType=VARCHAR}, #{clean,jdbcType=BIT}, #{callData,jdbcType=INTEGER}, 
      #{callHour,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guiji.dispatch.entity.Plan">
    insert into jss_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planUuid != null">
        plan_uuid,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="attach != null">
        attach,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="statusPlan != null">
        status_plan,
      </if>
      <if test="statusSync != null">
        status_sync,
      </if>
      <if test="recall != null">
        recall,
      </if>
      <if test="recallParams != null">
        recall_params,
      </if>
      <if test="robot != null">
        robot,
      </if>
      <if test="callAgent != null">
        call_agent,
      </if>
      <if test="clean != null">
        clean,
      </if>
      <if test="callData != null">
        call_data,
      </if>
      <if test="callHour != null">
        call_hour,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planUuid != null">
        #{planUuid,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="statusPlan != null">
        #{statusPlan,jdbcType=BIT},
      </if>
      <if test="statusSync != null">
        #{statusSync,jdbcType=BIT},
      </if>
      <if test="recall != null">
        #{recall,jdbcType=BIT},
      </if>
      <if test="recallParams != null">
        #{recallParams,jdbcType=VARCHAR},
      </if>
      <if test="robot != null">
        #{robot,jdbcType=VARCHAR},
      </if>
      <if test="callAgent != null">
        #{callAgent,jdbcType=VARCHAR},
      </if>
      <if test="clean != null">
        #{clean,jdbcType=BIT},
      </if>
      <if test="callData != null">
        #{callData,jdbcType=INTEGER},
      </if>
      <if test="callHour != null">
        #{callHour,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guiji.dispatch.entity.Plan">
    update jss_plan
    <set>
      <if test="planUuid != null">
        plan_uuid = #{planUuid,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        attach = #{attach,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="statusPlan != null">
        status_plan = #{statusPlan,jdbcType=BIT},
      </if>
      <if test="statusSync != null">
        status_sync = #{statusSync,jdbcType=BIT},
      </if>
      <if test="recall != null">
        recall = #{recall,jdbcType=BIT},
      </if>
      <if test="recallParams != null">
        recall_params = #{recallParams,jdbcType=VARCHAR},
      </if>
      <if test="robot != null">
        robot = #{robot,jdbcType=VARCHAR},
      </if>
      <if test="callAgent != null">
        call_agent = #{callAgent,jdbcType=VARCHAR},
      </if>
      <if test="clean != null">
        clean = #{clean,jdbcType=BIT},
      </if>
      <if test="callData != null">
        call_data = #{callData,jdbcType=INTEGER},
      </if>
      <if test="callHour != null">
        call_hour = #{callHour,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guiji.dispatch.entity.Plan">
    update jss_plan
    set plan_uuid = #{planUuid,jdbcType=CHAR},
      user_id = #{userId,jdbcType=INTEGER},
      batch_id = #{batchId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      attach = #{attach,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      status_plan = #{statusPlan,jdbcType=BIT},
      status_sync = #{statusSync,jdbcType=BIT},
      recall = #{recall,jdbcType=BIT},
      recall_params = #{recallParams,jdbcType=VARCHAR},
      robot = #{robot,jdbcType=VARCHAR},
      call_agent = #{callAgent,jdbcType=VARCHAR},
      clean = #{clean,jdbcType=BIT},
      call_data = #{callData,jdbcType=INTEGER},
      call_hour = #{callHour,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>