<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.dispatch.dao.ext.PlanLinesMapper">

	<select id="queryLinesByPlan" resultType="com.guiji.dispatch.dao.entity.DispatchLines">
		SELECT
			id           ,
			planuuid     ,
			create_time  ,
			line_id      ,
			line_name    ,
			line_amount  ,
			overtArea    ,
			line_type
		FROM dispatch_lines
		WHERE planuuid = #{planUuid}
	</select>

</mapper>